<google-map #map
            height="700px"
            width="1200px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="onMapClicked($event)"
            (mapMousemove)="move($event)"
            (mapRightclick)="onMapRightClicked()">
  <map-marker #marker
              *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
              [options]="markerOptions"
              (mapClick)="onMarkerClicked(marker)"></map-marker>
  <map-info-window>
    <ng-template [ngIf]="selectedPos">
      <p>Lat: {{ selectedPos?.lat() }}</p>
      <p>Lng: {{ selectedPos?.lng() }}</p>
      <label for="name">Name:</label>
      <input #inputName id="name" type="text" autocomplete="off">
      <br>
      <label for="address">Address:</label>
      <input #inputAddress id="address" type="text" value="Davao City" autocomplete="off">
      <br>
      <br>
      <button (click)="onAddLocationClicked(selectedPos)">Add Location</button>
    </ng-template>
    <ng-template [ngIf]="selectedMarker">
      <p>Name: {{ getModel(selectedMarker.getPosition()).name }}</p>
      <p>Address: {{ getModel(selectedMarker.getPosition()).address }}</p>
    </ng-template>
  </map-info-window>
</google-map>

<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>
